body{
  margin:1em;
}
#mapid{
  height: 400px;
  width:100%;
  margin-top:3em;
  border:1px solid #999;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
h2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 704px) {
  body{
    margin-
  }
  #mapid{
    height:340px;
    margin-top:2em;
  }
}
